@use "../config/vars" as *;
@use "../config/functions" as *;
@use "../config/mixins" as *;

.modal {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(#000, 30%);
	transition: opacity 300ms ease-in-out;

	&._show {
		opacity: 1;
		visibility: visible;

		.modal__body {
			transform: translateX(0);
			opacity: 1;
		}
	}

	// .modal__body
	&__body {
		height: 100%;
		width: rem(312);
		background-color: #fff;
		opacity: 0;
		transition: all 300ms ease-in-out;
		transform: translateX(-100%);
		display: flex;
		flex-direction: column;
		padding-bottom: rem(24);
		box-shadow: rem(4) 0 rem(20) rgba(#000, 10%);
		overflow-y: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	// .modal__header
	&__header {
	}

	// .modal__content
	&__content {
		flex: 1 1 auto;
		padding-top: rem(24);
		padding-bottom: rem(24);
	}
}

.header-modal {
	border-bottom: 1px solid rgba(#000, 10%);

	// .header-modal__container
	&__container {
		height: var(--header-height);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: rem(24);
		padding-right: rem(24);
	}

	// .header-modal__title
	&__title {
		font-weight: 800;
		font-size: rem(18);
		line-height: prc(22, 18);
	}

	// .header-modal__button-close
	&__button-close {
		background-color: #fff;
		width: rem(24);
		height: rem(24);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: rem(6);
		transition: background-color var(--default-transition);

		&:hover {
			background-color: rgba(#000, 5%);
		}

		svg {
			path {
				fill: rgba(#000, 30%);
			}
		}
	}
}

.bottom-modal {
	// .bottom-modal__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: rem(12);
		padding-left: rem(24);
		padding-right: rem(24);
	}
}

.contacts-group {
	// .contacts-group__container
	&__container {
		padding-left: rem(24);
		padding-right: rem(24);
	}

	// .contacts-group__list
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);

		&._hide {
			display: none;
		}
	}

	// .contacts-group__item
	&__item {
		display: grid;
		grid-template-columns: minmax(rem(130), 1fr) rem(38);
		height: rem(38);
		column-gap: rem(12);
	}

	// .contacts-group__input
	&__input {
		height: 100%;
		width: 100%;
		border-radius: rem(6);
		background-color: rgba(#000, 5%);
		padding: 0 rem(12);
		transition: box-shadow var(background-color);

		color: #000;
		font-size: rem(14);
		@include hidePlaceholder();
		@include styledPlaceholder(rgba(#000, 50%));

		&:hover {
			box-shadow: 0 0 0 rem(1) rgba(#000, 30%);
		}

		&:focus {
			box-shadow: 0 0 0 1px var(--first-accent-color);
		}
	}

	// .contacts-group__button-remove
	&__button-remove {
		width: 100%;
		height: 100%;
		background-color: transparent;
		border-radius: rem(6);
		border: rem(1) solid rgba(#000, 10%);
		display: flex;
		justify-content: center;
		align-items: center;
		transition-property: background-color, border-color;
		transition-duration: 250ms;
		transition-timing-function: ease-in-out;

		&:hover {
			background-color: var(--orange-color);
			border-color: var(--orange-color);

			svg {
				path {
					fill: #fff;
				}
			}
		}

		&:active {
			background-color: var(--red-hover-color);
		}

		svg {
			path {
				transition: fill var(--default-transition);
				fill: rgba(#000, 30%);
			}
		}
	}
}

.new-contact {
	// .new-contact__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
	}

	// .new-contact__field
	&__field {
		width: 100%;
		height: rem(38);
	}

	// .new-contact__input
	&__input {
		width: 100%;
		height: 100%;
		padding: 0 rem(12);
		background-color: rgba(#000, 5%);
		@include hidePlaceholder();
		@include styledPlaceholder(rgba(#000, 50%));
		border-radius: rem(6);
		transition: box-shadow var(--default-transition);

		color: #000;
		font-size: rem(14);

		&:hover {
			box-shadow: 0 0 0 rem(1) rgba(#000, 30%);
		}

		&:focus {
			box-shadow: 0 0 0 rem(1) var(--first-accent-color);
		}
	}
}

.custom-dropdown {
	width: 100%;
	position: relative;

	// .custom-dropdown__btn
	&__btn {
		display: flex;
		align-items: center;
		width: 100%;
		height: rem(38);
		border-radius: rem(6);
		padding-left: rem(12);
		padding-right: rem(12);
		transition: box-shadow var(--default-transition);

		&:hover {
			box-shadow: 0 0 0 rem(2) color-mix(in srgb, var(--first-accent-color), transparent 30%);
		}

		&._active {
			box-shadow: 0 0 0 rem(2) color-mix(in srgb, var(--first-accent-color), transparent 30%);

			.custom-dropdown__icon {
				transform: rotate(180deg);
			}
		}
	}

	// .custom-dropdown__label
	&__label {
		margin-right: auto;
		color: rgba(#000, 50%);
		font-size: rem(14);
	}

	// .custom-dropdown__icon
	&__icon {
		opacity: 50%;
		transition: var(--default-transition);
	}

	// .custom-dropdown__list
	&__list {
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: rem(8);
	}
}

.select-list {
	width: 100%;
	border-radius: rem(6);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: var(--default-shadow);
	border: rem(1) solid rgba(#000, 10%);
	opacity: 0;
	visibility: hidden;
	transform: translateY(rem(20));
	transition-property: opacity, visibility, transform;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;

	&._show {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	// .select-list__item
	&__item {
		height: rem(38);
		padding: rem(10) rem(12);
		cursor: pointer;
		line-height: 1.2;
		background-color: rgba(#000, 5%);
		color: rgba(#000, 50%);
		transition-property: background-color, color;
		transition-duration: 250ms;
		transition-timing-function: ease-in-out;

		@include notLast {
			border-bottom: rem(1) solid rgba(#000, 5%);
		}

		&:hover {
			background-color: rgba(#000, 10%);
			color: #000;
		}
	}
}
