@use "functions" as *;

// максимальная ширина страницы
$maxWidth: 1920;
// минимальная ширина телефона
$minWidth: 320;
// ширина контейнера с учетом padding слева и справа
$maxWidthContainer: 1200;
// ширина контейнера из макета
$containerWidth: 1160;
// отступы безопасности для контейнера
$mainOffset: 15;

$headerHeight: 70;
