.modal#addContactSidebar(data-contact="")
	.modal__body
		.modal__header.header-modal
			.header-modal__container
				h3.header-modal__title Добавление контакта
				button.header-modal__button-close(type="button")
					svg(width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
							fill="black")
		.modal__content.new-contact
			.new-contact__container(data-id="")
				.new-contact__field
					input.new-contact__input(name="name" type="text" placeholder="Введите ФИО")
				.new-contact__field
					input.new-contact__input(name="phoneNumber" type="tel" placeholder="Введите номер")
				.new-contact__group.custom-dropdown
					button#button-dropdown.custom-dropdown__btn(type="button")
						span.custom-dropdown__label Выберите группу
						span.custom-dropdown__icon
							svg(width="13" height="8" viewbox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M10.8849 0.294983L6.29492 4.87498L1.70492 0.294983L0.294922 1.70498L6.29492 7.70498L12.2949 1.70498L10.8849 0.294983Z"
									fill="black")
					ul#dropdown-list.custom-dropdown__list.select-list
					input#dropdown-input(type="hidden" name="groupName")
		.modal__bottom.bottom-modal
			.bottom-modal__container
				button#saveContact.button.bottom-modal__button.button_save(type="button")
					span.button__text Сохранить
